// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: #fafafa !important;
}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.fs-2 {
  padding: 30px;
}

.tm-2 {
  font-size: 20px;
}

.img-circle {
  border-radius: 50%;
}

.profile-stats {
  max-width: 360px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.profile-posts {
  margin-top: 50px;
  max-width: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn-custom {
  background: transparent;
  border: 2px solid #ddd !important;
  border-radius: 4px !important;
  &:hover {
    background: #ddd !important;
  }
}

.suggestion {
  width: 100%;
}

.suggestions {
  width: 100%;
  max-width: 335px;
  margin-left: 10px;
}

.searchbar {
  margin: auto !important;

  .form-control {
    width: 76% !important;
  }
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-30 {
  margin-left: 30px;
}
