
<div class="text-center">
    <i class="fa fa-instagram mt-4" aria-hidden="true" style="font-size:140px"></i>

    <h1 class="mt-3">Welcome to PhotoTon</h1>
    <p class="lead">Please register or sign in to continue.</p>

    <%= link_to "Sign Up", new_account_registration_path, class:"btn btn-success" %>
    <%= link_to "Sign In", new_account_session_path, class:"btn btn-secondary" %>

    <%= link_to "Sign In with Facebook", account_facebook_omniauth_authorize_path, class:"btn btn-info" %>
</div>
